<section ui-view>
    <div class="shipping-module">
        <h5>Free shipping on all Domestic Orders</h5>
    </div>
    <div class="collections-header" style="background-image: url('//cdn.shopify.com/s/files/1/1137/4602/collections/Maiyet-FW16-Designer-Tops-Blouses.jpg?v=1473449247');"></div>
    <div class="main-content--inner">
        <div class="wrapper collections-list">
            <header class="section-header">
                <h1 class="section-header__title section-header__left">New Arrivals</h1>
            </header>
            <div class="product--grid">
                <!-- begin product list output -->
                <div class="product--grid-item">
                    <div class="product--grid-item-details">
                        <div class="product--grid-item-image">
                            <a href="15-photo-books/12-mini-photobook">
                                <img src="//cdn.shopify.com/s/files/1/1137/4602/products/FW16_2120331A_LongPeplumGown_Vermillion_55722_large.jpg?v=1473433502" alt="LONG PEPLUM GOWN" class="grid__image">

                            </a>
                            <a href="15-photo-books/12-mini-photobook" class="product--grid-hover-image">
                                <img src="//cdn.shopify.com/s/files/1/1137/4602/products/FW16_2120331A_LongPeplumGown_Vermillion_55722_large.jpg?v=1473433502">
                            </a>
                        </div>
                        <div class="product--grid-item-info">

                            <a href="15-photo-books/12-mini-photobook">
                                <div class="grid">
                                    <div class="grid__item large--three-quarters medium--two-thirds">
                                        <h4>LONG PEPLUM GOWN</h4>
                                    </div>
                                    <div class="grid__item large--one-quarter medium--one-third">
                                        $1,895.00
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>