<section ui-view>
    <div class="shipping-module">
        <h5>{{category_data.description}}</h5>
    </div>
    <div class="collections-header" style="background-image: url('{{category_data.image}}');"></div>
    <div class="main-content--inner">
        <div class="wrapper collections-list">
            <header class="section-header">
                <h1 class="section-header__title section-header__left">{{category_data.name}}</h1>
            </header>
            <div class="product--grid">
                <!-- begin product list output -->
                <div ng-repeat="product in products" class="product--grid-item">
                    <div class="product--grid-item-details">
                        <div class="product--grid-item-image">
                            <a href="{{category_data.url | mkurl}}/{{product.url}}">
                                <img ng-src="{{product.thumb}}" alt="{{product.item_name}}" class="grid__image">

                            </a>
                            <a href="{{category_data.url | mkurl}}/{{product.url}}" class="product--grid-hover-image">
                                <img src="/image_demo/EAOO3D.jpg">
                            </a>
                        </div>
                        <div class="product--grid-item-info">

                            <a href="{{category_data.url | mkurl}}/{{product.url}}">
                                <div class="grid">
                                    <div class="grid__item large--three-quarters medium--two-thirds">
                                        <h4>{{product.item_name}}</h4>
                                    </div>
                                    <div class="grid__item large--one-quarter medium--one-third">
                                        {{product.price}} ₫
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>