<div itemscope="" itemtype="http://schema.org/Product">

    <meta itemprop="url" content="https://maiyet.com/products/long-peplum-gown">
    <meta itemprop="image" content="//cdn.shopify.com/s/files/1/1137/4602/products/FW16_2120331A_LongPeplumGown_Vermillion_55722_grande.jpg?v=1473433502">

    <div class="product product--main">
        <div class="product--header">
            <div class="product--mobile-slideshow">

                <div class="product--slideshow-items" id="ProductSlideshow">


                    <div class="product--slideshow-item">
                        <img style="margin: auto;" ng-src="{{first_image.origin}}" alt="LONG PEPLUM GOWN">
                    </div>

                </div>

            </div>

            <div product-thumbnails="" class="product--thumbnails">

                <div class="product-single__photos product--main-image" id="ProductPhoto" style="background-image: url({{first_image.origin}})">

                    <img ng-src="{{first_image.origin}}" alt="LONG PEPLUM GOWN" id="ProductPhotoImg">
                </div>

                <ul class="product-single__thumbnails product--thumbnail-images" id="ProductThumbs">

                    <li ng-repeat="image in itemData.images" repeat-complete="product" class="grid__item one-quarter">
                        <a href="{{image.origin}}" class="product-single__thumbnail">
                            <img ng-src="{{image.src}}" alt="LONG PEPLUM GOWN">
                        </a>
                    </li>

                </ul>

            </div>

            <div class="product--details">
                <div class="product--details-wrapper">
                    <h1 itemprop="name">{{itemData.item_name}}</h1>

                    <div id="product-additional" data-id="8364917827">
                        <div>
                            <div class="product--additional-info">
                                <div></div>
                            </div>
                        </div>
                    </div>

                    <div class="product--price">
                        <span id="ProductPrice" class="h2" itemprop="price">{{itemData.price}} ₫</span>


                    </div>

                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <link itemprop="availability" href="http://schema.org/InStock">

                        <form tiny-submit="addToCart(dataForm)" method="post" enctype="multipart/form-data" id="AddToCartForm" class="product--form">


                            <div class="selector-wrapper">
                                <label for="productSelect-option-0">Size</label>
                                <select name="size" class="tinySelectDropdown">
                                    <option value="One Size">One Size</option>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>

                            <div class="selector-wrapper">
                                <label for="productSelect-option-1">Quantity</label>
                                <select name="quantity" class="tinySelectDropdown">
                                    <option value="2">2</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                    <option value="8">8</option>
                                </select>
                            </div>



                            <div class="js-qty">
                                <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="0">
                                    <span class="icon icon-minus" aria-hidden="true"></span>
                                    <span class="fallback-text">−</span>
                                </button>
                                <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="11">
                                    <span class="icon icon-plus" aria-hidden="true"></span>
                                    <span class="fallback-text">+</span>
                                </button>
                            </div>

                            <input type="hidden" name="product_id" value="{{itemData.product_item_id}}">

                            <button type="submit" name="add"  class="btn product--add-to-cart">
                                <span id="AddToCartText">{{textAddtoCart}}</span>
                            </button>
                        </form>

                    </div>

                    <div class="product--extended" id="product-extend" data-id="8364917827">
                        <div>
                            <div class="product--extended-info">
                                <div tiny-tabs class="product--extended-wrapper">
                                    <div style="display: none" class="product--extended-header">
                                        <span class="visisble design active" data-change="design">Design</span>
                                        <span class="visisble details" data-change="details">Details</span>
                                        <span class="visisble size" data-change="size">Size</span>
                                    </div>
                                    <div class="product--extended-copy">
                                        <div class="visisble design active">
                                            <div tiny-html="itemData.item_detail">
                                                
                                            </div>
                                        </div>
                                        <div class="visisble details">
                                            <div>
                                                <p>100% silk
                                                    <br>Fall 2016 Look 28
                                                    <br>Extended train
                                                    <br>Dry clean only</p>
                                            </div>
                                        </div>
                                        <div class="visisble size">
                                            <div>
                                                <p>Model is 5'10.5" and wearing size 2</p>
                                            </div>
                                            <div class="product--extended-table-border">
                                                <div class="product--extended-size-header"><span class="fit active product-table" data-filter="fit">Fit Guide</span><span class="size product-table" data-filter="size">Size Guide</span>
                                                </div>
                                                <div class="product--extended-size-tables">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product--social">
                        <div class="product--social-shares">
                            <ul>
                                <li>
                                    <h5>SHARE</h5>
                                </li>
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://maiyet.com/products/long-peplum-gown" class="share-popup"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="https://twitter.com/intent/tweet?text=LONG PEPLUM GOWN%20https://maiyet.com/products/long-peplum-gown%20by%20@Maiyet" class="share-popup"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="http://tumblr.com/share/link?url=https://maiyet.com/products/long-peplum-gown" class="share-popup"><i class="fa fa-tumblr"></i></a>
                                </li>
                                <li><a href="http://pinterest.com/pin/create/button/?url=https://maiyet.com/products/long-peplum-gown&amp;media=//cdn.shopify.com/s/files/1/1137/4602/products/FW16_2120331A_LongPeplumGown_Vermillion_55722_grande.jpg?v=1473433502&amp;description=LONG PEPLUM GOWN" class="share-popup"><i class="fa fa-pinterest"></i></a>
                                </li>
                                <li><a href="mailto:?subject=LONG PEPLUM GOWN&amp;body=https://maiyet.com/products/long-peplum-gown" class="share-popup"><i class="fa fa-envelope-o"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product--contact-us">
                            <p>Need help? <a href="/contact">Contact Us</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div id="product-module" data-id="8364917827" class="product--module-background">
            <div>
                <div class="hide--modules">
                    <div class="product--modules"></div>
                </div>
            </div>
        </div>
        <div class="product--complete-wrapper">
            <h2>You may also like</h2>
            <div class="product--complete-items product--grid">
                <div id="linkcious_ads" style="display: block; width: 100%; text-align: center;">
    <!-- googleoff: all -->

    <div id="linkcious" class="linkcious_clearfix">
        <div ng-repeat="product in product_related" class="linkcious_ads">
            <div class="linkcious_img">
                <a href="{{category_data.url | mkurl}}/{{product.url}}">
                    <img ng-src="{{product.thumb}}" alt="{{product.item_name}}" title="{{product.item_name}}">
                </a>
            </div>

            <div class="linkcious_title">
                <h3 class="linkcious_title_h3">
                  <a href="{{category_data.url | mkurl}}/{{product.url}}">{{product.item_name}} <span class="linkcious_price_display linkcious_hide ">- {{product.price}} VND</span></a>
                </h3>
            </div>

            <div class="linkcious_price">
                <span class="linkcious_price_display">{{product.price}} VND</span>
            </div>
        </div>
    </div>
    <!-- #linkcious -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d332vpuzom9493.cloudfront.net/asset/linkcious_ads_products.css?v=0.0.3" type="text/css">

</div>
            </div>
        </div>

        <div class="product--cta">
            <div class="product--cta-wrapper">

                <h4>Need Help?<br>
          Talk to our Professional<br>
          Fashion Stylists</h4>
                <a href="/pages/contact">Get In Touch</a>
            </div>
        </div>
        <div class="shipping-module">
            <h5>Free shipping on all Domestic Orders</h5>
        </div>

    </div>

</div>