<form tiny-submit="SaveTask(dataForm)" no-reset class="tiny-flat-form">
	<div class="form-group flat">
		<ul class="list-flat-options">
			<li><a ng-click="formData.opt.start_date = !formData.opt.start_date" ng-class="{'active': formData.opt.start_date}" href="javascript:void(0)">Start Date</a></li>
			<li><a ng-click="formData.opt.end_date = !formData.opt.end_date" ng-class="{'active': formData.opt.end_date}" href="javascript:void(0)">End Date</a></li>
		</ul>

		<input ng-model="formData.info.title" type="text" class="form-control" id="title" placeholder="Title">
		<textarea ng-model="formData.info.description" placeholder="Description..." rows="5" class="form-control autogrow" id="description"></textarea>

		<input type="text" ng-repeat="(option, v) in formData.opt" ng-if="v" ng-model="formData.options[option]" class="tiny-picker form-control" placeholder="{{option | keytolabel}}" />
	</div>

	<div style="margin: 1rem;" class="panel panel-gray">
		<div class="panel-heading">
			<div class="panel-title">Participants</div>
		</div>
		<div class="form-group" ng-if="formData.participants.length">
			<ul style="padding-left: 15px;">
				<li ng-repeat="user in formData.participants">{{user.full_name}} ({{user.username}})</li>
			</ul>
		</div>
		<div class="form-group">
			<a class="link" href="javascript:void(0)" on-submit="selectParticipant(users)" tiny-participants>Add</a>
		</div>
	</div>

	<div style="margin: 1rem;" class="panel panel-gray">
		<div class="panel-heading">
			<div class="panel-title">Todo list</div>
		</div>

		<div class="form-group">

			<ul ng-if="formData.listTodo.length" class="ul col-sm-6">
				<li-section ng-repeat="todo in formData.listTodo" ng-switch="todo.type">
					<li ng-switch-when="check_list" class="li-section">
						<span class="li-title">{{$index + 1}}. Check list</span>
						<div class="form-group">
							<label>Text</label>
							<input ng-model="formData.listTodo[$index]['text']" class="form-control" type="text" name="todo_text" />
						</div>

						<div class="form-group">
							<a class="link" href="javascript:void(0)" data-index="{{$index}}" only-one on-submit="selectUser(users, $el, $index)" tiny-participants>{{formData.listTodo[$index].assign.length ? formData.listTodo[$index].assign[1] : 'Assign To'}}</a>
						</div>
					</li>

					<li ng-switch-when="note" class="li-section">
						<span class="li-title">{{$index + 1}}. Note</span>
						<div class="form-group">
							<label>Text</label>
							<input ng-model="formData.listTodo[$index]['text']" class="form-control" type="text" name="todo_text" />
						</div>

						<div class="form-group">
							<a class="link" href="javascript:void(0)" data-index="{{$index}}" only-one on-submit="selectUser(users, $el, $index)" tiny-participants>{{formData.listTodo[$index].assign.length ? formData.listTodo[$index].assign[1] : 'Assign To'}}</a>
						</div>
					</li>
				</li-section>
			</ul>
			
			<div class="btn-group w100" uib-dropdown>
				<a class="link dropdown-toggle" href="javascript:void(0)" uib-dropdown-toggle data-toggle="dropdown">Add</a>
				
				<ul uib-dropdown-menu class="dropdown-menu" role="menu">
					<li>
						<a ng-click="addTodo(1)" href="">Check list</a>
					</li>
					<li>
						<a ng-click="addTodo(2)" href="">Note</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="form-group-separator"></div>

	<div class="tiny-group-btn align-center">
		<button type="submit" class="btn btn-success">Submit</button>
		<button type="button" ng-click="changeTabtoTask('next')" class="btn btn-gray">Add next Task</button>
	</div>
</form>