<!DOCTYPE html>
<html lang="en" ng-app="tinyfw">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title ng-bind-template="Tiny - {{currentPage.title || '{title_page}' }}">Tiny</title>

  <!-- CSS  -->
  <link href="{r}/css/maiyet/app.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{r}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{r}/ionicons/css/ionicons.min.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="{r}/admin/assets/css/fonts/line-icons-2/line-icons.css">
  
  
  <!--  Scripts-->
  <script src="{r}/javascript/jquery.js"></script>
  <script src="{r}/javascript/jquery-ui-custom.js"></script>
  <script src="{r}/materialize/js/materialize.min.js"></script>
  <script src="{r}/javascript/angular.min.js"></script>
  <script src="{r}/javascript/angular-ui-router.js"></script>
  <script src="{r}/javascript/angular-animate.js"></script>
  <script src="{r}/admin/app/js/oc-lazyload/ocLazyLoad.min.js"></script>
  <script src="{r}/javascript/tiny.base64.js"></script>

  <script src="{r}/javascript/tiny.plugins.js"></script>

  <script type="text/javascript">
  <!--
        var hs = false;
        var URL_SERVER = '{tinyfw}';
            TEMP_ = '{tinyfw}angular.htm',
            PATH_ = '{path}';
            
        var tinyConfig = {
            dirTemp: '{r}',
        templatesDir: '{dirTemp}app/tpls',
        assetsDir: '{r}/admin/assets',
            tinyToken: '{hash}',
            thumbSize: {w: 100, h: 90},
        templatePath: function(view_name)
        {
          return this.templatesDir + '/' + view_name + '.html?17';
        },
            
            templatePathAjax: function(view_name)
        {
          return URL_SERVER+'welcome/load/?template=app/tpls/' + view_name + '.html&isTemp=true';
        },
    
        assetPath: function(file_path)
        {
          return this.assetsDir + '/' + file_path;
        }
        };

        window._window = jQuery(window);
  -->
  </script>
</head>
<body ng-class="{'template-collection' : !templateConlection, 'search-open' : searchOpen, 'js-drawer-open js-drawer-open-right' : cartOpen}" ng-controller="tinyWapper" class="{{pageClass ? pageClass : ''}}">

<div id="SearchBar" class="search-bar js-search-bar" ng-class="{'open' : searchOpen}">
    <form action="/search" method="get" class="input-group search-bar-form" role="search">
        <input type="hidden" name="type" value="product">
        <div class="search--icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <path d="M98.3,90.671L72.163,64.393c0.737-1.001,1.253-1.704,1.613-2.198l0.044-0.06c0.294-0.387,0.578-0.776,0.854-1.173  l0.025-0.034h-0.001c10.239-14.716,7.972-35.529-5.57-49.07C61.561,4.29,51.5,0.123,40.8,0.123S20.041,4.29,12.473,11.857  C4.906,19.424,0.738,29.485,0.738,40.187c0,10.701,4.167,20.763,11.735,28.329c7.546,7.547,17.582,11.703,28.258,11.703c0,0,0,0,0,0  c6.4,0,12.777-1.549,18.482-4.499c0.641-0.361,2.542-1.465,4.068-2.699l26.545,25.936c0.159,0.159,1.016,0.954,2.262,0.954  c0.546,0,1.362-0.161,2.151-0.928l1.326-1.28c1.013-0.975,2.078-2.001,2.841-2.763C99.889,93.456,99.17,91.59,98.3,90.671z   M40.615,10.904c16.128,0,29.248,13.121,29.248,29.249c0,16.126-13.12,29.248-29.248,29.248S11.366,56.279,11.366,40.153  C11.366,24.025,24.487,10.904,40.615,10.904z"></path>
            </svg>
        </div>
        <input type="search" name="q" value="" placeholder="     Search Products..." class="input-group-field" aria-label="Search our store">
        <span class="input-group-btn">
        </span>
        <div ng-click="toggleSearch(false)" class="close--search js-close-search">
            <span class="cross"></span>
        </div>
    </form>

</div>

<div id="CartDrawer" class="drawer drawer--right">
    <div class="drawer--header">
        <h3 class="drawer--title">Your Bag</h3>
        <div ng-click="toggleCart(false)" class="drawer--close js-drawer-close">
            <span class="drawer--close-icon"></span>
        </div>
    </div>
    <div id="CartContainer">
        <form action="/cart" method="post" novalidate="" class="cart ajaxcart">
            <div class="ajaxcart__inner">

                <div class="ajaxcart__product">
                    <div class="ajaxcart__row" data-line="1">
                        <div class="cart--side-product">

                            <div class="cart--side-product-image">
                                <a href="/products/long-peplum-gown?variant=27699541827" class="ajaxcart__product-image"><img src="/image_demo/EAOO3D.jpg" alt="">
                                </a>
                            </div>
                            <div class="cart--side-product-info">
                                <a href="/products/long-peplum-gown?variant=27699541827" class="ajaxcart__product-name">LONG PEPLUM GOWN</a>
                                <div class="grid__item display-table-cell one-half text-right">
                                    $1,895.00
                                </div>

                                <span class="ajaxcart__product-meta">VERMILLION / 6</span>



                                <div>QTY: 1</div>

                            </div>

                            <div class="ajaxcart__remove js-cart-remove">
                                <div class="cross"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ajaxcart__footer">
                <div class="grid--full">
                    <div class="grid__item two-thirds">
                        <h5>Subtotal: $1,895.00</h5>
                    </div>
                </div>
                <!-- <p class="text-center">Shipping &amp; taxes calculated at checkout</p> -->
                <a href="/payment" class="btn--secondary btn--full cart__checkout button" name="checkout">
                    Check Out
                </a>
            </div>
        </form>
    </div>
</div>
<header class="header tiny-header" template-conlection="templateConlection">

    <div class="header--wrapper">
        <div class="mobile-navigation js-mobile-open">
            <div class="mobile-navigation--bars"></div>
        </div>
        <nav class="navigation navigation--shopping">
            <ul>
                <li class="navigation--shopping-nested">
                    <a href="#!product/15-photo-books" class="navigation--dropdown">Shop</a>
                    <ul class="">

                        <li ng-repeat="navbar in navbarShop" ng-class="{'navigation--featured': navbar.feature == 1, 'navigation--normal-1': navbar.feature == 0}">
                            <a ng-href="{{navbar.url}}" title="">{{navbar.name}}</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li><a href="/aboutus">Our Story</a>
                </li>
                <!-- <li class="navigation--shopping-nested">
                    <a href="#" class="navigation--dropdown">Other Menu</a>
                    <ul class="">

                        <li><a href="/pages/our-story" title="">Our Story</a>
                        </li>

                        <li><a href="/pages/news-events" title="">News &amp; Events</a>
                        </li>

                        <li><a href="/pages/projects" title="">Projects</a>
                        </li>

                        <li><a href="http://maiyet.tumblr.com/" target="_blank">Blog</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </nav>

        <div class="header--logo">
            <a href="/" itemprop="url" class="site-header__logo-link">
        Meraki
      </a>
        </div>

        <nav class="navigation navigation--cart">
            <ul>
                <li class="our-story mobile--hide"><a href="/account">My Account</a>
                </li>

                <li ng-click="toggleSearch()" class="search js-search mobile--hide">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                        <path d="M98.3,90.671L72.163,64.393c0.737-1.001,1.253-1.704,1.613-2.198l0.044-0.06c0.294-0.387,0.578-0.776,0.854-1.173  l0.025-0.034h-0.001c10.239-14.716,7.972-35.529-5.57-49.07C61.561,4.29,51.5,0.123,40.8,0.123S20.041,4.29,12.473,11.857  C4.906,19.424,0.738,29.485,0.738,40.187c0,10.701,4.167,20.763,11.735,28.329c7.546,7.547,17.582,11.703,28.258,11.703c0,0,0,0,0,0  c6.4,0,12.777-1.549,18.482-4.499c0.641-0.361,2.542-1.465,4.068-2.699l26.545,25.936c0.159,0.159,1.016,0.954,2.262,0.954  c0.546,0,1.362-0.161,2.151-0.928l1.326-1.28c1.013-0.975,2.078-2.001,2.841-2.763C99.889,93.456,99.17,91.59,98.3,90.671z   M40.615,10.904c16.128,0,29.248,13.121,29.248,29.249c0,16.126-13.12,29.248-29.248,29.248S11.366,56.279,11.366,40.153  C11.366,24.025,24.487,10.904,40.615,10.904z"></path>
                    </svg>
                </li>

                <li ng-click="toggleCart()">
                    <a class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                        <span class="cart-small-font" id="CartCount">0</span>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 49.81">
                            <title>bag</title>
                            <path d="M29.2,11.13a11.2,11.2,0,0,0-22.39,0H0V49.81H36V11.13H29.2ZM18,3a8.21,8.21,0,0,1,8.2,8.13H9.8A8.21,8.21,0,0,1,18,3ZM33,46.81H3V14.13H33V46.81Z" transform="translate(0 0)"></path>
                        </svg>


                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<nav class="white"></nav>
<main class="wrapper main-content" role="main" id="main" ui-view=""></main>
<div class="footer--logo footer--separate">
    <!-- This is logo -->
</div>
<div id="footer">
    <div>
        <footer>
            <div class="footer">
                <div class="footer--links">
                    <ul>
                        <li class="footer--links-block">
                            <h5>Contact</h5>
                            <p><a href="/pages/contact">Contact Us</a>
                                <br><a href="tel:+12123439999">212-343-9999</a>
                            </p>
                        </li>
                        <li class="footer--links-block">
                            <h5>Stores</h5>
                            <p><a href="/pages/store/">Meraki Store</a>
                                <br><a href="/pages/stockists/">Search Stockists</a>
                            </p>
                        </li>
                        <li class="footer--links-block">
                            <h5>Info</h5>
                            <p><a href="/pages/shipping-and-returns">Shipping &amp; Returns</a>
                                <br><a href="/pages/product-care">Product Care</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="footer--social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/maiyetworld" target="_blank"><i class="ion-social-facebook"></i></a>
                        </li>
                        <li><a href="http://instagram.com/maiyet" target="_blank"><i class="ion-social-instagram-outline"></i></a>
                        </li>
                        <li><a href="http://maiyet.tumblr.com" target="_blank"><i class="ion-social-tumblr"></i></a>
                        </li>
                        <li><a href="https://twitter.com/maiyet" target="_blank"><i class="ion-social-twitter"></i></a>
                        </li>
                        <li><a href="http://pinterest.com/maiyet" target="_blank"><i class="ion-social-pinterest"></i></a>
                        </li>
                    </ul>
                    <div class="footer--reserve">
                        <p>
                            <span>All Rights Reserved 2016. </span>
                            <a href="/pages/privacy-policy">Developed by TranVinhHung.Com</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>


  <script src="{r}/loading-bar/loading-bar.js"></script>
  <link href="{r}/loading-bar/loading-bar.css" type="text/css" rel="stylesheet" />
  <!-- Tiny Resource -->
  <script src="{r}/javascript/tiny.until.js"></script>
  <script src="{r}/javascript/app/tiny.factory.js"></script>
  <script src="{r}/javascript/app/tiny.directive.js"></script>
  <script src="{r}/javascript/app/directive.js"></script>
  <script src="{r}/javascript/app/controller.js"></script>
  <script src="{r}/javascript/scriptJquery.js"></script>
  
  <script src="{r}/javascript/app/tiny.app.js"></script>
  </body>
</html>