@import url("fonts/brandon_blk.css");

.header--logo a,
a.logo {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

.logo-link img{
    width: 180px;
}
.logo-link img.f{
    display: none;
}
.template-collection .logo-link img.white,
.header:hover .logo-link img.white,
.header.background .logo-link img.white{
    display: none;
}
.template-collection .logo-link img.f,
.header:hover .logo-link img.f,
.header.background .logo-link img.f{
    display: block;
}


.useFlex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.useFlex.c{
    align-items: center;
    flex-direction: column;
}

.blog-post-info{
    background: #FFF;
    padding: 1rem;
    width: 80%;
    text-align: center;
    margin-top: -20%;
}
.blog-post-info h2{
    font-family: serif;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.4
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #212121;
    box-shadow: none;
}

.ui-view-container {
  position: relative;
  min-height: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  top: 10px;
}

[ui-view].ng-enter-active {
  opacity: 1;
  top: 0;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
  display: none;
}