@import url("fonts/brandon_blk.css");

.header--logo a,
a.logo {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #212121;
    box-shadow: none;
}

.ui-view-container {
  position: relative;
  min-height: 100%;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  top: 10px;
}

[ui-view].ng-enter-active {
  opacity: 1;
  top: 0;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
  display: none;
}