.valign-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; }
.valign-wrapper .valign {
    display: block; 
}
.align-center{
    text-align: center;
}
.bold{
    font-weight: bold !important;
}
.table .first{
    width: 15%;
}
.table>thead>tr>td, .table>tbody>tr>td, .table>tfood>tr>td, .table>thead>tr>th, .table>tbody>tr>th, .table>tfood>tr>th {
    padding: 10px 12px;
}
.table .action-group{
    width: 20%;
    text-align: right;
}
.table hr{
    margin-top: 8px;
    margin-bottom: 8px;
}
.bootstrap-tagsinput input{
    word-break: normal;
}
.action-group *{
    cursor: pointer;
    transition: all 0.3s;
}
.action-group a{
    font-size: 17px;
}
.action-group .remove{
    color: #d5080f;
}
.tiny-panel .panel-heading{
    padding-bottom: 0;
}
.tiny-panel .panel-title{
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #888;
}
.tiny-panel .panel-body{
    padding-top: 0;
}
.modal-backdrop{
    width: 100%;
    height: 100%;
}
tiny-checkbox{
    padding-top: 7px;
    display: block;   
}
.group-header{
    background: #F2F2F2;
}
.group-header *{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.sidebar-menu .logo-env .settings-icon{
    position: absolute;
    top: 15px;
    right: 15px;
}
.tiny-tabs >.panel-heading .nav-tabs li a{
    padding: 20px !important;
}
.tiny-tabs .panel-body{
    margin-top: -18px !important;
}
.tiny-tabs >.panel-heading .nav-tabs{
    margin-right: -5px !important;
}
.tiny-title-bind{
    color: #888;
    text-transform: capitalize;
}
.tiny-smallid{
    color: #B1B1B1;
    font-size: 12px;
    line-height: 0;
}
.tiny-tab-form{
    padding: 35px 0;
}
.user-img > a.change_img{
    clear: both;
    width: 100%;
    display: block;
    color: #68B828;
    padding-top: 5px;
    cursor: pointer
}
#main{
    position: relative;
}
#main.inline-s{
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 15px;
}
#main .progress {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    right: 0;
}
.ui-sorable-tiny{
    visibility: visible!important;
    border: 1px dashed transparent;
    margin: auto auto 20px!important;
    
}
.ui-sortable-placeholder{
    height: 100%;
}
a.list-large > span{
    display: none !important;
}
.gallery-env .album-header h2{
    padding-top: 2px;
    font-size: 18px;
}
.gallery-env .album-header{
    padding: 22.5px 30px !important;
}
.highlights li h4{
    float: left;
}
.gallery-env .album-header.post{
    float: right;
    padding: 0 !important;
}
.gallery-env .album-header.post .album-options li{
    float: left;
    border: none !important;
}
.gallery-env .album-header.s{
    background-color: rgba(255, 255, 255, 0.67);
}

.gallery-env .album-header.s{
    padding: 13px 30px !important;
    position: relative;
}
.gallery-env .album-header.s > i:last-child{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    background-color: #F2F2F2;
    padding: 25px 8px;
}
.gallery-env .album-header.s > i:last-child:hover{
    cursor: pointer;
    background: #ccc;
}
.gallery-env .upload-sm{
    display: none;
    float: right;
    font-size: 18px;
    margin-right: 15px;
}
.gallery-env .col-sm-3 .upload-sm{
    display: block;
}
.gallery-env .col-sm-3 .album-header .album-options li{
    display: none;
}
.gallery-env .col-sm-3 .album-header{
    padding: 22px 30px !important;
}
.gallery-env .col-sm-3 .panel-post .entry-description > p{
    display: none;
}
[class*=gallery-]{
    transition: all 0.3s;
}
.gallery-sidebar {
    min-height: 300px;
}
.list-product-small li a{
    float: left;
    clear: both;
    border: none !important;
    text-decoration: none !important;
}
.list-product-small .image-options {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.list-product-small .image-options > a{
    display: inline-block !important;
    clear: none !important;
    padding-top: 45px !important;
    border: none !important;
}
.gallery-env .gallery-sidebar ul{
    margin: 0;
}
.gallery-env .gallery-sidebar ul li a > span{
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    width: 65%;
    white-space: nowrap;
    float: left;
    text-overflow: ellipsis;
}
.gallery-env .gallery-sidebar ul.list-product-small > li{
    position: relative;
    width: 100% !important;
    display: inline-block !important;
}
.gallery-env .gallery-sidebar ul.list-product-small > li > a{
    width: 100%;
}
.gallery-env .gallery-sidebar ul > li.active{
    background-color: #F2F2F2 !important;
}
.gallery-env .gallery-sidebar ul.list-product-small li>a img{
    width: 50px;
    float: left;
}
.tiny-editor{
    opacity: 0;
    height: 0;
}
.highlights .entry-description{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.highlights .entry-description .image-options{
    position: absolute;
    bottom: 0;
    right: 0;
}
.highlights .entry-description h3{
    color: #747474;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.highlights li+li{
    margin-top: 0 !important;
    margin-bottom: 0;
    border-top: 1px dotted #ddd;
}
.panel-post{
    background-color: #F9F9F9;
}
.panel-post .album-header{
    background-color: #F9F9F9;
}
li.sort_li.ui-sortable-handle{
    cursor: move;
}
li.sort_li.ui-sortable-handle:hover{
    opacity: 0.7;
}
li.sort_li.ui-sortable-placeholder{
    border: 1px dashed #ccc !important;
    min-height: 50px;
    display: block;
}
.drop-target{
    border: 3px dashed #888;
    text-align: center;
    color: #999;
    font-size: 20px;
    width: 100%;
    line-height: 200px;
    cursor: pointer;
}
.drop-target.s{
    width: 25%;
    border: 3px solid #fff;
    height: 200px;
    display: block;
    float: left;
    background-size: cover;
    background-position: -50%;
    transition: all 0.3s;
}
.drop-target:hover{
    border: 3px dashed #999;
}
.modal-footer.nomodal .btn+.btn{
    margin-bottom: 10px;
}
.no-border{
    border: none !important;
}
.moxie-shim.moxie-shim-html5{
    display: none;
}
.back-page:hover{
    cursor: pointer;
    color: #000;
    opacity: 0.8;
    transition: all 0.3s;
}
[class*=alert-]{
    transition: all 0.3s;
    max-height: 100px;
    opacity: 1;
    padding: 15px;
    margin-bottom: 18px;
}
[class*=alert-].ng-hide-animate.ng-hide{
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      display: block;
      padding: 0;
      margin: 0;
}
.alert-success a{
    color: #FFDB68
}
.alert-success a:hover{
    text-decoration: underline;
}
.tiny-cbr{
    opacity: 0;
}
.blog-thumb{
    height: 128px;
    width: 128px;
    background-size: cover;
    background-position: 50%;
    display: block;
}
.panel .panel-body{
    position: relative;
}
.valign-wrapper.s{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}
.valign-wrapper.s > .valign{
    text-align: center;
}
.btn-group-tiny{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.setting-form label{
    padding-top: 10px;
    display: block;
    clear: both;
    width: 100%;
    margin-left: 0 !important;
}
.setting-form hr + label{
    padding-top: 0;
}
.hide-no-data{
    max-height: 0;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    overflow: hidden;
}
.hide-no-data.active{
    max-height: 1500px;
    opacity: 1;
}
.ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.ul li ul{
    list-style: none;
    padding-left: 15px;
}
.crm-menu-wrap {
	display:block;
	float: left;
	padding: 0;
	position:relative;
	width:73%;
	height: 94px;
	overflow: hidden;
}

.crm-menu-table {
	border-spacing:0;
	max-width:800px;
	padding:0;
	width:100%;
}

.crm-menu-cell {
	text-align:left;
	padding:0;
	vertical-align:top;
}

.crm-menu-item-wrap {
	display:inline-block;
	min-height:86px;
	position:relative;
	margin: 0 5px 8px 0;
	vertical-align: top;
}

.crm-menu-item {
	cursor:pointer;
	display:inline-block;
	border-radius:2px;
	min-height:86px;
	margin-right:5px;
	min-width:76px;
	padding:0 5px;
	position:relative;
	text-align:center;
	text-decoration:none;
	vertical-align:top;
}

.crm-menu-item-active,
.crm-menu-item:active,
.crm-menu-item-wrap:hover .crm-menu-item {
	background-color: #d6f1fb;
}

.crm-menu-item-wrap:hover .crm-menu-icon {
	opacity: 1;
}

.crm-menu-item-active .crm-menu-icon,
.crm-menu-item:active .crm-menu-icon {
	opacity: 1;
}
.crm-menu-icon {
	background:url(../images/crm-control-panel-sprite-21.png) no-repeat 500px 500px;
	display:block;
	height:53px;
	opacity: 0.6;
}

.crm-menu-feed 		.crm-menu-icon { background-position: center -2071px; }
.crm-menu-activity 	.crm-menu-icon { background-position: center 13px; }
.crm-menu-company  	.crm-menu-icon { background-position: center -33px; }
.crm-menu-contact 	.crm-menu-icon { background-position: center -75px; }
.crm-menu-deal 		.crm-menu-icon { background-position: center -122px; }
.crm-menu-lead 		.crm-menu-icon { background-position: center -170px; }
.crm-menu-quote 	.crm-menu-icon { background-position: center -3283px; }
.crm-menu-invoice 	.crm-menu-icon {background-position: center -2813px;}
.crm-menu-report 	.crm-menu-icon { background-position: center -270px; }
.crm-menu-funnel 	.crm-menu-icon { background-position: center -222px; }
.crm-menu-event 	.crm-menu-icon { background-position: center -870px; }
.crm-menu-catalog 	.crm-menu-icon { background-position: center -930px; }
.crm-menu-settings 	.crm-menu-icon { background-position: center -1407px;}
.crm-menu-apps 		.crm-menu-icon { background-position: center -4831px;}
.crm-menu-more 		.crm-menu-icon {
	background-position: center -977px;
	height: 51px;
}
.crm-menu-more .crm-menu-name {
	display:inline-block;
	margin-right: -8px;
	padding-right:11px;
	position:relative;
}

.crm-menu-more .crm-menu-name:before {
	background:url(../images/crm-control-panel-sprite-21.png) no-repeat -24px -468px;
	content:"";
	height:3px;
	right:0;
	top:6px;
	position:absolute;
	width:6px;
}

.crm-menu-icon-counter,
.crm-menu-item-popup-icon {
    background-color:#f43400;
    border-radius:10px;
    color:#fff;
    left: 50%;
    line-height: 16px;
    height:16px;
    font-size:12px;
    font-weight:bold;
    margin-left: 7px;
    top:3px;
    min-width:11px;
    text-align:center;
    padding:0 3px;
    position:absolute;
}

.crm-menu-icon-counter-grey {
    background-color:#80868e;
}


.crm-menu-item-popup-icon {
    left: auto;
    right: 5px;
    top: 15px;
}

.crm-menu-name {
    color:#80868e;
    display:block;
    font-size:12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.crm-menu-item-wrap:hover .crm-menu-name,
.crm-menu-item-active .crm-menu-name {
    color:#333333;
}

.crm-menu-item .crm-menu-quote:hover .crm-menu-name,
.crm-menu-item .crm-menu-quote:active .crm-menu-name {color:#252c38;}

.crm-menu-item .crm-menu-invoice:hover .crm-menu-name,
.crm-menu-item .crm-menu-invoice:active .crm-menu-name {color:#252c38;}

.crm-menu-plus-btn {
    bottom: -17px;
    cursor:pointer;
    display:none;
    height:35px;
    margin-left:-27px;
    left:50%;
    text-decoration:none;
    position:absolute;
    width:50px;
    z-index:2;
}

.crm-menu-plus-btn:before {
    background:url(../images/crm-control-panel-sprite-21.png) no-repeat center -331px #d6f1fb;
    content: '';
    border-radius: 50%;
    height: 22px;
    margin-left: -11px;
    left: 50%;
    position: absolute;
    top: 4px;
    width: 22px;
}

.crm-menu-item-wrap:hover .crm-menu-plus-btn {display:block;}

.crm-menu-plus-btn:hover:before {
    background-color: #1ec7fa;
    background-position: center -378px;
    text-decoration:none;
}

.crm-menu-shadow {
    border-top: 1px solid #f0f1f2;
    bottom:9px;
    display:block;
    left:0;
    position:absolute;
    width:100%;
}

.crm-menu-shadow-right,
.crm-menu-shadow-center {
    display: none;
}

.crm-search-block{
    display:block;
    overflow:hidden;
    padding: 20px 4% 0 0;
}

.crm-search {
    border-radius:2px;
    border:1px solid;
    border-color:#ced0d1 #d1d3d5 #d3d6d8;
    box-shadow:inset 0 1px 2px 0 #e3e3e3;
    display:block;
    height:31px;
}

.crm-search-btn {
    background:url(../images/crm-control-panel-sprite-21.png) no-repeat center -504px;
    cursor:pointer;
    display:block;
    float:right;
    height:31px;
    width:37px;
}

.crm-search-btn:hover {background-position:center -477px}

.crm-search-inp-wrap {
    display:block;
    overflow:hidden;
    padding:5px 0 0 9px;
}

.crm-search-inp {
    background:#fff;
    border:none;
    color:#000;
    height:19px;
    font-size:14px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    outline:none;
    padding:0;
    width:100%;
}

.crm-search-inp:-moz-placeholder{color: #c2c2c2;}/*Firefox < 19*/
.crm-search-inp::-moz-placeholder{color: #c2c2c2;}/*firefox 19+*/
.crm-search-inp::-webkit-input-placeholder{color: #c2c2c2;}
.crm-search-inp:-ms-input-placeholder {color: #c2c2c2;}/*IE10*/


.crm-menu-resize .crm-menu-item-wrap {height:57px;}
.crm-menu-resize .crm-menu-item {height:33px;}
.crm-menu-resize .crm-menu-icon {display:none;}
.crm-menu-resize .crm-menu-name {padding-top:7px;}
.crm-menu-resize .crm-menu-more .crm-menu-name:before {top:16px;}
.crm-menu-resize .crm-search-block {padding-top:0;}
.crm-menu-resize .crm-menu-icon-counter {top:-8px; left:68px;}

.crm-header-inner {
    background-color: #fff;
    height: 107px;
    position: relative;
}

.crm-menu-fixed {
    -webkit-box-shadow: 0 4px 10px 0 #c6c9cb;
    box-shadow: 0 4px 10px 0 #c6c9cb;
    margin-left: -15px;
    margin-right: -15px;
    height: 46px;
    overflow: hidden;
    padding-left: 15px ;
    padding-right: 15px;
    position: fixed;
    z-index: 987;
}

.crm-menu-fixed .crm-menu-item-wrap {min-height: 0; height:36px;}
.crm-menu-fixed .crm-menu-item {min-height: 0; height:33px;}
.crm-menu-fixed .crm-menu-icon {display:none;}
.crm-menu-fixed .crm-menu-name {padding-top:7px;}
.crm-menu-fixed .crm-menu-more .crm-menu-name:before {top:13px;}
.crm-menu-fixed .crm-search-block {padding-top:1px;}
.crm-menu-fixed .crm-menu-icon-counter {top:-8px; left:68px;}
.crm-menu-fixed .crm-menu-shadow,
.crm-menu-fixed .crm-menu-icon-counter {display: none;}

.crm-menu-fixed-btn {
    background: url(../images/crm-control-panel-sprite-21.png) no-repeat center -3752px;
    cursor: pointer;
    height: 37px;
    top: 20px;
    right: 0;
    opacity: 0.8;
    position: absolute;
    width: 4%;
}

.crm-menu-unfixed-btn {
    background-position: center -4168px;
}

.crm-menu-fixed .crm-menu-fixed-btn {
    top: 1px;
}

.crm-menu-fixed-btn:hover {
    opacity: 1;
}

.crm-feed-wrap {
    padding: 0;
}

.crm-feed {
    overflow: hidden;
    position: relative;
}

.crm-feed-cont {
    padding-top: 30px;
}

.crm-feed-top-nav {
    min-height: 32px;
    overflow: hidden;
    padding: 0 0 11px 14px;
}

.crm-feed-top-nav-item, .crm-feed-top-nav-item-more {
    color: #989ca3;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 6px 15px 0;
    vertical-align: top;
}

.crm-feed-top-nav-item:first-child {
    margin-left: 0;
}

.crm-feed-top-nav-item:hover, .crm-feed-top-nav-item-more:hover {
    text-decoration: underline;
}

.crm-feed-top-nav-item-active {
    color: #5c6470;
}

.crm-feed-top-nav-item-more {
    padding-right: 13px;
    position: relative;
}

.crm-feed-top-nav-item-more:before {
    background: url("images/crm/crm-control-panel-sprite-4.png") no-repeat -25px -1742px;
    content: "";
    height: 3px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 6px;
}

.crm-feed-right-side {
    float: right;
    margin: 0 0 0 11px;
    width: 262px;
}

.feed-post-title.crm-feed-activity-status {
    border-bottom: none;
    color: #6c6c6c !important;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
    vertical-align: top;
}

.feed-post-title.crm-feed-activity-status i {
    font-style: normal;
    font-weight: bold;
}

.crm-post-deal-wrap {
    overflow: hidden;
    padding-left: 75px;
    position: relative;
}

.crm-post-deal-wrap .crm-feed-calendar-icon {
    left: 1px;
    position: absolute;
    top: 10px;
}

.crm-feed-info-table .crm-feed-company-avatar {
    display: inline-block;
    position: static;
    vertical-align: middle;
    margin-right: 8px;
}

.crm-feed-info-table .crm-feed-user-block {
    display: inline-block;
    cursor: pointer;
    min-height: 29px;
    text-decoration: none;
    position: relative;
}

.crm-feed-client-name, .crm-feed-user-name {
    color: #2067b0;
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
}

.crm-feed-user-avatar {
    left: 0;
    position: absolute;
    top: 0;
}

.crm-feed-company-avatar {
    position: absolute;
    top: 0;
}

.crm-feed-num-block {
    display: inline-block;
    padding-right: 25px;
    position: relative;
    white-space: nowrap;
}

.crm-feed-client-block .crm-item-tel-num,
.crm-feed-client-block .crm-item-tel-num:hover,
.crm-feed-info-table .crm-item-tel-num,
.crm-feed-info-table .crm-item-tel-num:hover {
    line-height: normal;
    text-decoration: none;
    width: auto;
}

.crm-feed-client-block {
    background-color: #f0f5f6;
    border-radius: 3px;
    display: block;
    margin-bottom: 5px;
    min-height: 42px;
    min-width: 160px;
    padding: 3px 10px 0 50px;
    position: relative;
}

.crm-feed-client-alignment {
    display: inline-block;
    height: 42px;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
}

.crm-feed-client-right {
    display: inline-block;
    vertical-align: middle;
}

.crm-feed-client-company {
    color: #848787;
    display: block;
    font-size: 12px;
}

.crm-feed-client-block .crm-feed-user-avatar {
    left: 6px;
    margin-top: -18px;
    top: 50%;
}

.crm-feed-client-phone {
    color: #1a60a9;
    display: inline-block;
    font-size: 12px;
    margin-top: 2px;
}

.crm-feed-deal-description {
    border-bottom: 1px solid #ebeded;
    border-top: 1px solid #ebeded;
    color: #000;
    font-size: 14px;
    padding: 15px 0 16px;
}

.crm-feed-deal-descr-title {
    color: #8d8d8d;
    float: left;
    padding-right: 11px;
}

.crm-feed-deal-descr-text {
    overflow: hidden;
}

.crm-feed-info-bar-cont .crm-list-stage-bar {
    display: inline-block;
    margin-top: 5px;
}

.crm-feed-info-bar-cont {
    display: block;
}

.feed-filter-fake-cont {
    display: inline-block;
    min-height: 32px;
}


.feed-post-text-block-inner-inner .data-table img {
    height: auto;
}

.feed-add-post-micro,
.crm-empty {
    color: #80868e;
    font-size: 18px;
    margin: 0;
    height: 18px;
    padding: 19px 2px 27px 18px;
    position: relative;
    cursor: text;
}
.feed-add-post-micro-dnd-ready.feed-add-post-micro {
    background: rgba(248,250,250,0.9);
    border: 2px dashed #a7b0b5;
    padding: 17px 0 25px 16px;
    cursor: default;
}
.feed-add-post-micro .feed-add-post-micro-dnd,
.feed-add-post-micro-dnd-ready.feed-add-post-micro .feed-add-post-micro-title{
    display: none;
}
.feed-add-post-micro-dnd-ready.feed-add-post-micro .feed-add-post-micro-dnd {
    display: block;
}
.crm-feed-message{
    border-top: 5px solid #ddd;
    margin-top: 2rem;
}
.crm-empty{
    text-align: center;
    width: 100%;
    display: block;
}
.crm_section .panel{
    margin-bottom: 0;
}
.crm_section .panel .panel-heading{
    background: #F2F2F2;
    padding: 1.5rem 1rem 1rem;
}