<div ui-view="" class="template-index">
    <header class="header--module visible" style="background-image:url(https://maiyet.s3.amazonaws.com/maiyet-store/maiyet-fw16-arrivals2-a91-9bf8bf442411.jpg);">
        <a href="/collections/new-arrivals" class="full-link"></a>
        <div class="header--module-text-center">
            <h5>Just In</h5>
            <h1>Fall Winter 2016</h1><a href="/product/15-photo-books" class="underlined white">Shop Now</a>
        </div>
    </header>
    <div class="footer--social visible">
        <ul>
            <li class="footer--social-wide">
                <h4>Follow US</h4>
            </li>
            <li>
              <a href="https://www.facebook.com/maiyetworld" target="_blank"><i class="ion-social-facebook"></i></a>
            </li>
            <li>
              <a href="http://instagram.com/maiyet" target="_blank"><i class="ion-social-instagram-outline"></i></a>
            </li>
            <li>
              <a href="http://maiyet.tumblr.com" target="_blank"><i class="ion-social-tumblr"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/maiyet" target="_blank"><i class="ion-social-twitter"></i></a>
            </li>
            <li>
              <a href="http://pinterest.com/maiyet" target="_blank"><i class="ion-social-pinterest"></i></a>
            </li>
        </ul>
        <div class="footer--social-insta">
            <a href="http://instagram.com/maiyet" target="_blank"><img src="https://maiyet.s3.amazonaws.com/maiyet-store/maiyet-icon-mini-messenger-dc9-8e1718819d02.jpg">
            </a>
            <a href="http://instagram.com/maiyet" target="_blank"><img src="https://maiyet.s3.amazonaws.com/maiyet-store/maiyet-fw16-02c-7d6aa684e77f.jpg">
            </a>
            <a href="http://instagram.com/maiyet" target="_blank"><img src="https://maiyet.s3.amazonaws.com/maiyet-store/maiyet-mongolian-cashmere-8e1-ec975eecac2a.jpg">
            </a>
            <a href="http://instagram.com/maiyet" target="_blank"><img src="https://maiyet.s3.amazonaws.com/maiyet-store/maiyet-fair-cashmere-1-fd1-febec03ae144.jpg">
            </a>
        </div>
    </div>

    <section class="newsletter">

        <div class="newsletter--form">
            <form method="post" action="/contact#contact_form" id="contact_form" class="contact-form" accept-charset="UTF-8">
                <input type="hidden" value="customer" name="form_type">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
                <input type="text" id="contact_email" placeholder="Your email" class="newsletter--form-input" name="contact[email]">
                <span class="newsletter--form-submit">
          <input type="submit" class="btn" name="subscribe" id="subscribe" value="Subscribe to our Newsletter">
        </span>
            </form>
        </div>
    </section>
</div>