<div class="main-content--inner">
        <div class="wrapper collections-list">
            <header class="section-header">
                <h1 class="section-header__title section-header__left">{title_page}</h1>
            </header>
            
            <div class="blog-grid page--content">
                {content}
                <div class="blog-post-item useFlex c">
                    {page_content}
                </div>
                {/content}
            </div>
        </div>
    </div>