
<div class="row">

	<div class="col-sm-6">
		
		<div class="xe-widget xe-counter-block">
		<div class="xe-upper">
			<div ng-click="punchIn()" ng-if="wasPunchIn == 0" class="xe-icon tiny-icon-btn in">
				<i class="fa fa-sign-out" aria-hidden="true"></i>
			</div>
			<div ng-click="punchOut()" ng-if="wasPunchIn == 1" class="xe-icon tiny-icon-btn out">
				<i class="fa fa-sign-out fa-rotate-180" aria-hidden="true"></i>
			</div>
			<div ng-if="wasPunchIn == 2" class="xe-icon tiny-icon-btn">
				<i class="fa fa-remove fa-rotate-180" aria-hidden="true"></i>
			</div>
			<div class="xe-label">
				<strong class="tiny-clock num">00:00:00</strong>
				<span ng-if="!wasPunchIn">Please PunchIn</span>
				<span ng-if="wasPunchIn">Please PunchOut</span>
			</div>
		</div>
		<div class="xe-lower">
				<div class="border"></div>
				
				<span>Tickets Opened</span>
				<strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong>
			</div>
		</div>
		
	</div>

	<div class="col-sm-3">
	
		<div class="xe-widget xe-counter-block xe-counter-block-blue">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="fa fa-file-text-o" aria-hidden="true"></i>
				</div>
				<div class="xe-label">
					<strong class="num">0k</strong>
					<span>Daily Visits</span>
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
				
				<span>Bounce Rate</span>
				<strong>51.55%</strong>
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-3">
	
		<div class="xe-widget xe-counter-block xe-counter-block-orange">
			<div class="xe-upper">
				
				<div class="xe-icon">
					<i class="fa-life-ring"></i>
				</div>
				<div class="xe-label">
					<strong class="num">24/7</strong>
					<span>Live Support</span>
				</div>
				
			</div>
			<div class="xe-lower">
				<div class="border"></div>
				
				<span>Tickets Opened</span>
				<strong xe-counter data-count="this" data-from="0" data-to="14215" data-duration="2">0</strong>
			</div>
		</div>
		
	</div>
	

</div>