<div ui-view="paymentPage" class="payment-page account-page">
    <div class="account-page--wrapper payment-wrap">
        <div class="payment--sidebar">
            <div class="sidebar--header">

            </div>

            <div class="order-summary__section product--list">
                <table class="product-table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody data-order-summary-section="line-items">
                        <tr class="product" ng-repeat="item in shopCart">
                            <td class="product__image">
                                <div class="product-thumbnail">
                                    <div class="product-thumbnail__wrapper">
                                        <img alt="V-NECK SHEATH DRESS" class="product-thumbnail__image" ng-src="{{item.image}}">
                                    </div>
                                    <span class="product-thumbnail__quantity" aria-hidden="true">{{item.quantity}}</span>
                                </div>
                            </td>
                            <td class="product__description">
                                <span class="product__description__name order-summary__emphasis">{{item.name}}</span>
                                <span class="product__description__variant order-summary__small-text">Size: {{item.size}}</span>

                            </td>
                            <td class="product__quantity visually-hidden">
                                {{item.quantity}}
                            </td>
                            <td class="product__price">
                                <span class="order-summary__emphasis">{{item.price | number}} VND</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="order-summary__section product--discount anyflexbox">
                <form>
                    <div class="field">
                        <div class="field__input-btn-wrapper">
                            <div class="field__input-wrapper tiny-input t10">
                                <label class="field__label" for="checkout_reduction_code">Discount</label>
                                <input placeholder="Discount" class="field__input" data-discount-field="true" autocomplete="off" size="30" type="text" name="checkout[reduction_code]" id="checkout_reduction_code">
                            </div>

                            <button type="submit" class="btn btn--full field__input-btn">
                                <span class="btn__content visually-hidden-on-mobile">Apply</span>
                                <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                                <i class="btn__spinner icon icon--button-spinner"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="order-summary__section">
                <table class="total-line-table">
                  <caption class="visually-hidden">Cost summary</caption>
                  <thead>
                      <tr>
                          <th scope="col"><span class="visually-hidden">Description</span>
                          </th>
                          <th scope="col"><span class="visually-hidden">Price</span>
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="total-line total-line--subtotal">
                          <td class="total-line__name">Subtotal</td>
                          <td class="total-line__price">
                              <span class="order-summary__emphasis">
                          {{calcSubTotal() | number}} VND
                        </span>
                          </td>
                      </tr>


                      <tr class="total-line total-line--shipping">
                          <td class="total-line__name">Shipping</td>
                          <td class="total-line__price">
                              <span class="order-summary__emphasis" data-checkout-total-shipping-target="10000">
                            0
                          </span>
                          </td>
                      </tr>

                      <tr class="total-line total-line--taxes " data-checkout-taxes="">
                          <td class="total-line__name">Taxes</td>
                          <td class="total-line__price">
                              <span class="order-summary__emphasis" data-checkout-total-taxes-target="30900">0</span>
                          </td>
                      </tr>

                  </tbody>
                  <tfoot class="total-line-table__footer">
                      <tr class="total-line">
                          <td class="total-line__name payment-due-label">
                              <span class="payment-due-label__total">Total</span>
                          </td>
                          <td class="total-line__price payment-due">
                              <span class="payment-due__currency"></span>
                              <span class="payment-due__price" data-checkout-payment-due-target="349900">
                          {{calcSubTotal() | number}} VND
                        </span>
                          </td>
                      </tr>
                  </tfoot>
              </table>
            </div>
        </div>

        <div class="payment--main">
            <div class="main--header">
                <a class="align-center">
                    Check out
                </a>
            </div>
            <div class="main--body">
            {addr_default}
              <form method="post" tiny-submit="submitPayment(dataForm)" accept-charset="UTF-8">
    <input type="hidden" value="customer_address" name="form_type">

    <div class="payment-title-wrapper align-left">
        <h4>Customer information</h4>
    </div>

    <div class="tiny-input">
        <label for="customer_info">Email</label>
        <input type="email" required id="customer_info" class="input-full" name="customer_email" value="" placeholder="Email" autocapitalize="words">
    </div>

    <div class="payment-title-wrapper align-left">
        <h4>Shipping address</h4>
    </div>

    <div class="grid">

        <div class="one-half">
            <div class="tiny-input">
                <label for="AddressFirstNameNew">First Name</label>
                <input type="text" required id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{first_name}" autocapitalize="words" placeholder="First Name">
            </div>
        </div>

        <div class="one-half">
            <div class="tiny-input">
                <label for="AddressLastNameNew">Last Name</label>
                <input type="text" required class="input-full" name="address[last_name]" value="{last_name}" autocapitalize="words" placeholder="Last Name">
            </div>
        </div>

    </div>

    <div class="tiny-input">
        <label for="AddressCompanyNew">Company</label>
        <input type="text" class="input-full" name="address[company]" value="{company}" autocapitalize="words" placeholder="Company">
    </div>
    <div class="tiny-input">
        <label for="AddressAddress1New">Address1</label>
        <input type="text" class="input-full" required name="address[address1]" value="{address1}" autocapitalize="words" placeholder="Address1">
    </div>
    <div class="tiny-input">
        <label for="AddressAddress2New">Address2</label>
        <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{address2}" autocapitalize="words" placeholder="Address2">
    </div>
    <div class="grid">
        <div class="grid__item large--one-half">
            <div class="tiny-input">
                <label for="AddressCityNew">City</label>
                <input type="text" required class="input-full" name="address[city]" value="{city}" autocapitalize="words" placeholder="City">
            </div>
        </div>

        <div class="grid__item large--one-half">
            <div class="tiny-input">
                <label for="AddressZipNew">Postal/Zip Code</label>
                <input type="text" required class="input-full" name="address[zip]" value="{zip}" autocapitalize="characters" placeholder="Postal/Zip Code">
            </div>
        </div>

        <div class="grid__item large--one-half">
            <div class="tiny-input">
                <label for="AddressPhoneNew">Phone</label>
                <input type="tel" required class="input-full" name="customer_phone" value="" placeholder="Phone">
            </div>
        </div>
    </div>

    <p class="default-box">
        <input type="checkbox" id="address_default_address_new" name="set_as_default" value="1">
        <label for="address_default_address_new" class="inline">Set as default address</label>
    </p>

    <p>
        <input type="submit" class="btn btn--full" value="Submit">
    </p>
    <p class="align-center"><a href="/" class="link-default">Cancel</a>
    </p>
</form>
{/addr_default}
            </div>
        </div>
    </div>
</div>
