<page-title ng-if="layoutOptions.pageTitles" title="Projects" description="Manager our customers">
	<a class="btn btn-success btn-icon btn-icon-standalone" href="/admin/project/add">
		<i class="fa-plus"></i>
		<span>New Project</span>
	</a>
	<a class="btn btn-warning btn-icon btn-icon-standalone" href="/admin/task/add">
		<i class="fa-plus"></i>
		<span>New Task</span>
	</a>

	<div class="btn-group" uib-dropdown>
		<button type="button" class="btn btn-white btn-icon dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown">
			<i class="fa fa-list" aria-hidden="true"></i>
			<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
		</button>
		
		<ul uib-dropdown-menu class="dropdown-menu dropdown-left" role="menu">
			<li>
				<a href="">Template 1</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/admin/project/add?is_template=1">Add Template</a>
			</li>
		</ul>
	</div>
</page-title>

<div ng-if="!objCondition.is_template" class="panel panel-default">
    <div class="tasks-top-menu" id="task-menu-block">
        <span class="tasks-top-item-wrap ">
	        <a class="tasks-top-item" href="/company/personal/user/1/tasks/?F_CANCEL=Y&amp;F_STATE=sR400" onclick="this.blur();">
	        	<span class="tasks-top-item-icon tasks-icon-do"></span><span class="tasks-top-item-text">Ongoing</span>
	        	<span id="tasks-main-top-counter-my" class="tasks-top-item-counter" style="display:none;">0</span>
	        </a>
        </span>

        <span class="tasks-top-item-wrap ">
	        <a class="tasks-top-item" href="/company/personal/user/1/tasks/?F_CANCEL=Y&amp;F_STATE=sR800" onclick="this.blur();">
	        	<span class="tasks-top-item-icon tasks-icon-help"></span><span class="tasks-top-item-text">Assisting</span>
	        	<span id="tasks-main-top-counter-accomplice" class="tasks-top-item-counter" style="display:none;">0</span>
	        </a>
        </span>

        <span class="tasks-top-item-wrap  tasks-top-item-wrap-all">
	        <a class="tasks-top-item" href="/company/personal/user/1/tasks/?F_CANCEL=Y&amp;F_SECTION=ADVANCED">
	        	<span class="tasks-top-item-icon tasks-icon-all"></span><span class="tasks-top-item-text">All</span>
	        </a>
        </span>

        <span class="tasks-top-item-wrap  tasks-top-item-wrap-active">
	        <a class="tasks-top-item" href="/admin/project">
	        	<span class="tasks-top-item-icon tasks-icon-projects"></span><span class="tasks-top-item-text">Projects</span>
	        </a>
        </span>

        <span class="tasks-top-item-wrap ">
	        <a class="tasks-top-item" href="/admin/project/reports">
	        	<span class="tasks-top-item-icon tasks-icon-reports"></span><span class="tasks-top-item-text">Reports</span>
	        </a>
        </span>
    </div>
</div>

<div class="panel panel-default" ui-view>
	<table class="table table-bordered table-striped tiny-datatable-project">
		<thead>
			<tr>
				<th style="width: 20px;padding-left: 12px;" class="no-sorting">
					<input type="checkbox" target="#dataTable_contacts .dataTable-select" class="tiny-cbr tiny-selectall">
				</th>
				<th>Title</th>
				<th>Deadline</th>
				<th>% Done</th>
				<th>Status</th>
				<th>Created</th>
			</tr>
		</thead>
	</table>
</div>