<div class="panel-heading">
	<div class="panel-title">
		{{processing.title}}
	</div>
	<div class="pull-b-right">
		<button class="btn btn-danger m-0" tiny-modal data-id="admin/project/changeStatus.html"><i class="fa fa-star-half-o" aria-hidden="true"></i> Change Status</button>
		<button class="btn btn-success m-0" ng-click="nextTask()"><i class="fa fa-step-forward" aria-hidden="true"></i> Next Task</button>
	</div>
</div>
<div class="panel-body">
	<div class="row">
		<!-- Tasks display on each tab -->
		<div class="col-md-9">
			
			<div class="task-view-todo-list">
				<div ng-repeat="todo in processing.todo_list" class="task-view-todo profile-env" ng-class="{'todo-completed': todo.completed}">
					<div class="task-view-todo-title">
						{{todo.text}}
						<label class="pull-right"><input ng-change="todoComplete(todo)" ng-model="todo.completed" type="checkbox" class="tiny-radio"> Completed</label>
					</div>
					<div class="task-view-todo-info user-timeline-stories">
						<div class="task-view-activity timeline-story">
							<ul class="list-unstyled story-comments">

								<li ng-if="!todo.comments">
									No Comments yet
								</li>
								<li ng-repeat="comment in todo.comments | orderBy: 'id'">
									
									<div class="story-comment">
										<a href="" class="comment-user-img">
											<img ng-src="{{comment.info_user.avatar != '' ? comment.info_user.avatar : avatar_default}}" alt="user-img" class="img-circle img-responsive">
										</a>
										
										<div class="story-comment-content">
											<a href="" class="story-comment-user-name">
												{{comment.info_user.full_name}}
												<time>{{comment.date}}</time>
											</a>
											
											<p>{{comment.content}}</p>
										</div>
									</div>
									
								</li>
							</ul>
							<form method="post" action="" class="story-comment-form">
								<textarea ng-enter="postComment(todo.todo_id, $index)" ng-model="formData.comment[todo.todo_id]" class="form-control input-unstyled autogrow" placeholder="Reply..." style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 58px;"></textarea>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Project information -->
		<div class="col-md-3">
			<div class="project-detail-sidebar">
				<div class="project-detail-sidebar-content">
					<div ng-bind-html="projectData.description | unsafe" class="project-detail-sidebar-status"></div>

					<div class="project-detail-sidebar-item">
						<div class="project-detail-sidebar-item-title">
							Deadline:
						</div>
						<div class="project-detail-sidebar-item-value">
							12/2/2016
						</div>
					</div>

					<div class="project-detail-sidebar-item">
						<div class="project-detail-sidebar-item-title">
							Priority:
						</div>
						<div ng-switch="projectData.priority" class="project-detail-sidebar-item-value">
							<span ng-switch-when="1">Low</span>
							<span ng-switch-when="2">Normal</span>
							<span ng-switch-when="3">High</span>
						</div>
					</div>

					<div class="project-detail-sidebar-item">
						<div class="project-detail-sidebar-item-title">
							Created on:
						</div>
						<div class="project-detail-sidebar-item-value">
							12/2/2016
						</div>
					</div>

					<div class="project-detail-sidebar-item">
						<div class="project-detail-sidebar-item-title">
							Status / %:
						</div>
						<div ng-switch="projectData.status" class="project-detail-sidebar-item-value">
							<span class="label label-warning" ng-switch-when="1">Processing / {{projectData.percent}}%</span>
							<span class="label label-danger" ng-switch-when="2">Completed / {{projectData.percent}}%</span>
							<span class="label label-default" ng-switch-when="3">Hold / {{projectData.percent}}%</span>
						</div>
					</div>

					<div class="project-detail-sidebar-info-title">
						Created By
					</div>
					<div class="project-detail-sidebar-status">
						<div class="tiny-user-title">
							<a><img class="img-circle" src="http://studio-meraki.com/uploads/tiny/thumbs/12291245_779612285499134_3688792501311501328_o.jpg" /></a>
							<a href="">Trần Vĩnh Hưng</a>
						</div>
					</div>

					<div class="project-detail-sidebar-info-title">
						Responsible person
					</div>
					<div class="project-detail-sidebar-status">
						<div class="tiny-user-title">
							<a><img class="img-circle" ng-src="{{projectData.response_person.avatar}}" /></a>
							<a href="">{{projectData.response_person.full_name}}</a>
						</div>
					</div>

					<div class="project-detail-sidebar-info-title">
						Participants
					</div>
					<div ng-repeat="part in projectData.participants" class="project-detail-sidebar-status">
						<div class="tiny-user-title">
							<a><img class="img-circle" ng-src="{{part.avatar}}" /></a>
							<a href="">{{part.full_name}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>