<div class="main-content--inner">
        <div class="wrapper collections-list">
            <header class="section-header">
                <h1 class="section-header__title section-header__left">Blog</h1>
            </header>
            
            <div class="blog-grid page--content" ui-view>
                {blogs}
                <div class="blog-post-item useFlex c">
                    <div class="blog-post-cover">
                        <img src="{image}" />
                    </div>
                    <div class="blog-post-info">
                        <h2>{title}</h2>
                        <p>{description}</p>
                    </div>
                    <a href="{blog_url}" class="btn--black">Read More</a>
                </div>
                {/blogs}
            </div>
        </div>
    </div>