
        <div class="post">
            {blogs}
            <div class="post-title">
                <p class="pdate">{created_at}</p>
                <h4 class="ptitle">{title}</h4>
            </div>
            <!-- <div class="image-post">
                <img class="responsive-img" src="{image}" />
            </div> -->
            <div class="post-content">
                {content}
            </div>
            
            <div class="post-info">
                <p>10 Comments</p>
                <p>Tag: {tags}</p>
            </div>
            
            <div style="display: none" class="comment-list">
                <div class="comment">
                    <div class="cmt-content">
                        <p>Some areas of the Service allow Users to post content such as photos, profile information, comments, questions, and other content or information (any such materials a User submits</p>
                    </div>
                    <div class="cmt-info">
                        <p class="date">July 1, 2015</p>
                        <p class="name">YUYU</p>
                    </div>
                </div>
                
                <div class="comment">
                    <div class="cmt-content">
                        <p>Some areas of the Service allow Users to post content such as photos, profile information, comments, questions, and other content or information (any such materials a User submits</p>
                    </div>
                    <div class="cmt-info">
                        <p class="date">July 1, 2015</p>
                        <p class="name">YUYU</p>
                    </div>
                </div>
                
                <div class="comment">
                    <div class="cmt-content">
                        <p>Some areas of the Service allow Users to post content such as photos, profile information, comments, questions, and other content or information (any such materials a User submits</p>
                    </div>
                    <div class="cmt-info">
                        <p class="date">July 1, 2015</p>
                        <p class="name">YUYU</p>
                    </div>
                </div>
                
                <div class="add-comment">
                    <h5>Post A Comment</h5>
                    <small>Enter infomation bellow to add a new comment</small>
                    <form>
                      <div class="row">
                        <div class="col s12">
                          <div class="row">
                                <div class="input-field col s6">
                                    <input required="true" id="fullname" type="text" />
                                    <label for="fullname">Full Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input required="true" id="fullname" type="text" />
                                    <label for="fullname">Email</label>
                                </div>
                          </div>
                        </div>
                        
                        <div class="input-field col s12">
                          <textarea required="true" id="textarea1" class="materialize-textarea"></textarea>
                          <label for="textarea1">Your Comment</label>
                        </div>
                      </div>
                      <button type="submit" class="btn">Send</button>
                    </form>
                </div>
            </div>
            {/blogs}
        </div>